extends layout

block content
    //from colorlib.com https://colorlib.com/wp/templates/
    link(rel='stylesheet' href='/stylesheets/timezone_css/style.css')

    //image_slider still work in progress!!!!
    script(src='/stylesheets/image_slider/js/index.js')
    link(rel='stylesheet' href='/stylesheets/image_slider/css/style.css')

    section.blog_area.section-padding
        .container
            .row
                .col-lg-8.mb-5.mb-lg-0
                    .blog_left_sidebar
                        .slideshow_image-container
                            .mySlides.fade_img
                                .numbertext 1 / 3
                                img(src='/image/blog_slogan/your_voice3.png' style='width:100%')
                            .mySlides.fade_img
                                .numbertext 2 / 3
                                img(src='/image/blog_slogan/respect.png' style='width:100%')
                            .mySlides.fade_img
                                .numbertext 3 / 3
                                img(src='/image/blog_slogan/voice_matters2.png' style='width:100%')
                            a.prev(onclick='plusSlides(-1)') &#x276E;
                            a.next(onclick='plusSlides(1)') &#x276F;
                            br
                            br
                        h1 #{title}
                        each article, i in articles
                            article.blog_item
                                .blog_item_img
                                    - var type = article.category
                                    case type
                                        when 'Learning'
                                            img.card-img.rounded-0(src='/image/article_type/learning.jpg' alt='Learning')
                                        when 'Safety'
                                            img.card-img.rounded-0(src='/image/article_type/safety.png' alt='Safety')
                                        when 'Facility'
                                            img.card-img.rounded-0(src='/image/article_type/facility.png' alt='Facility')
                                        when 'Social'
                                            img.card-img.rounded-0(src='/image/article_type/social.jpg' alt='Social')
                                        default
                                            img.card-img.rounded-0(src='/image/article_type/other.jpg' alt='Other')
                                            //onclick='myfunction()'
                                    a.blog_item_date(href='/users/support/' + article._id onclick='support('+ i +')')
                                        if support[i]
                                            h3(id = 'supported' + i) #{article.support}
                                            img(src='/image/tick.png' style='width:25px;height:25px;' alt='Supported')
                                            //h3#supported Supported
                                        else
                                            h3(id = 'unsupported' + i) #{article.support}
                                            img(src='/image/article_icon/support.png' style='width:25px;height:25px;' alt='Support')

                                            //h3#unsupported #{article.support}
                                        //img(src='/image/article_icon/support.png' style='width:25px;height:25px;' alt='Support')
                                .blog_details
                                    a.d-inline-block(href="/petition/articles/" + article._id)
                                        h2 #{article.title}
                                    p #{article.summary}
                                    ul.blog-info-link
                                        li
                                            a(href='#')
                                                i.fa.fa-user
                                                |  #{article.category}
                                        li
                                            a(href='#')
                                                i.fa.fa-comments
                                                |  #{article.date.toISOString().replace(/T/, ' ').replace(/\..+/, '')}

                .col-lg-4
                    .blog_right_sidebar
                        .post_category_widget(style='padding:50px;background-color:#b8c8ec;margin-left:50px;position:fixed')
                            h4.widget_title Category
                            ul.list.cat-list
                                li
                                    a.d-flex(href='/petition/articles/summary')
                                        p1 All
                                li
                                    a.d-flex(href='/petition/articles/category/' + 'Learning')
                                        p1 Learning
                                li
                                    a.d-flex(href='/petition/articles/category/' + 'Facility')
                                        p1 Facility
                                li
                                    a.d-flex(href='/petition/articles/category/' + 'Social')
                                        p1 Social
                                li
                                    a.d-flex(href='/petition/articles/category/' + 'Safety')
                                        p1 Safety
                                li
                                    a.d-flex(href='/petition/articles/category/' + 'Other')
                                        p1 Other

            p Copyright ©2020 All rights reserved | This template is made with by Colorlib
    script.
        showSlides(slideIndex);
        function support(num)
        {
            let target_s = "supported" + num;
            let target_us = "unsupported" + num;

            if(document.getElementById(target_s) == null)
            {
                if (document.getElementById(target_us).textContent == "Supported") {
                    document.getElementById(target_us).innerHTML = "Cancel";
                } else {
                    document.getElementById(target_us).innerHTML = "Supported";
                }
            }
            else
            {
                if (document.getElementById(target_s).textContent == "Supported") {
                    document.getElementById(target_s).innerHTML = "Cancel";
                } else {
                    document.getElementById(target_s).innerHTML = "Supported";
                }
            }

        }
    style.
        p1{
            color: white;
            font-size: 120%;
        }