extends layout

block content
    //from colorlib.com https://colorlib.com/wp/templates/
    link(rel='stylesheet' href='/stylesheets/timezone_css/style.css')
    section.blog_area.section-padding
        .container
            .row
                .col-lg-8.mb-5.mb-lg-0
                    .blog_left_sidebar
                        h1 Articles
                        each article, i in articles.sort(function(a, b) {return b.support - a.support})
                            article.blog_item
                                .blog_item_img
                                    - var type = article.category
                                    case type
                                        when 'Learning'
                                            img.card-img.rounded-0(src='/image/article_type/learning.jpg' alt='Learning')
                                        when 'Safety'
                                            img.card-img.rounded-0(src='/image/article_type/safety.png' alt='Safety')
                                        when 'Facility'
                                            img.card-img.rounded-0(src='/image/article_type/facility.png' alt='Facility')
                                        when 'Social'
                                            img.card-img.rounded-0(src='/image/article_type/social.jpg' alt='Social')
                                        default
                                            img.card-img.rounded-0(src='/image/article_type/other.jpg' alt='Other')
                                    a.blog_item_date(href="/petition/articles/" + article._id)
                                        h3 #{article.support}
                                        img(src='/image/article_icon/support.png' style='width:25px;height:25px;' alt='Support')

                                .blog_details
                                    a.d-inline-block(href="/petition/articles/" + article._id)
                                        h2 #{article.title}
                                    p #{article.summary}
                                    ul.blog-info-link
                                        li
                                            a(href='#')
                                                i.fa.fa-user
                                                |  #{article.category}
                                        li
                                            a(href='#')
                                                i.fa.fa-comments
                                                |  #{article.date.toISOString().replace(/T/, ' ').replace(/\..+/, '')}
                //Category still work in progress!!!!
                .col-lg-4
                    .blog_right_sidebar
                        .post_category_widget(style='padding:50px;background-color:lightgrey;margin: 80px;')
                            h4.widget_title Category
                            ul.list.cat-list
                                li
                                    a.d-flex(href='/petition/articles/category/' + 'Learning')
                                        p Learning
                                li
                                    a.d-flex(href='/petition/articles/category/' + 'Facility')
                                        p Facility
                                li
                                    a.d-flex(href='/petition/articles/category/' + 'Social')
                                        p Social
                                li
                                    a.d-flex(href='/petition/articles/category/' + 'Safety')
                                        p Safety
                                li
                                    a.d-flex(href='/petition/articles/category/' + 'Other')
                                        p Other

            p Copyright ©2020 All rights reserved | This template is made with by Colorlib