extends layout

block content

    //from colorlib.com https://colorlib.com/wp/templates/
    link(rel='stylesheet' href='/stylesheets/timezone_css/style.css')

    section.blog_area.single-post-area.section-padding
        .container
            .row
                .col-lg-8.posts-list
                    .single-post
                        .blog_details
                            h2(style = 'font-size: 36px;font-family:Times New Roman') #{article.title}
                            ul.blog-info-link.mt-3.mb-4
                                p.li(style = 'display:inline;') #{article.category} | &nbsp
                                    | #{article.support} supports &nbsp
                                    if support
                                        a.btn.btn-primary#supported(href = '/users/support/' + article._id style = 'color:white' onclick='support()') supported
                                    else
                                        a.btn.btn-danger#unsupported(href = '/users/support/' + article._id style = 'color:white;' onclick='support()') support
                            p(style = 'color:black;')
                                | #{article.body}
                    .blog-author
                        .media.align-items-center
                            img(src='/image/head-icon.png' alt='')
                            .media-body

                                h4 #{article.author}
                                p
                                    | Contact: #{article.author_email}
                    .comments-area
                        h4 Comments
                            -if (comment != [])
                                each comment, i in comments
                                    - if(i % 2 == 0)
                                            .card.border-light.mb-3(style='max-width: 65rem;')
                                                .card-header(style='background-color: light grey;')
                                                    p By: #{comment.author} - #{comment.date.toISOString().slice(0, 10)}
                                                        p(style='color:black;') #{comment.body}
                                    - else
                                        .card.border-light.mb-3(style='max-width: 65rem;')
                                                .card-header(style='background-color: white;')
                                                    p By: #{comment.author} - #{comment.date.toISOString().slice(0, 10)}
                                                     p(style='color:black;') #{comment.body}

                    .comment-form.inset
                        h4 Post your comment:
                        form#commentForm.form-contact.comment_form(method = 'POST', action = '/users/comment/' + article._id)
                            .row
                                .col-12
                                    .form-group
                                        textarea.from-control.w-100(name='body' cols='30' rows='9')
                            .form-group
                                input.btn.btn-primary(type = 'submit', value = 'Post Comment')

                //Category still work in progress!!!!
                .col-lg-4
                    .blog_right_sidebar(style = 'position:fixed')
                        .post_category_widget(style='padding:50px;background-color:#b8c8ec;margin-left:50px;')
                            h4.widget_title Category
                            ul.list.cat-list
                                li
                                    a.d-flex(href='/petition/articles/summary')
                                        p1 All
                                li
                                    a.d-flex(href='/petition/articles/category/' + 'Learning')
                                        p1 Learning
                                li
                                    a.d-flex(href='/petition/articles/category/' + 'Facility')
                                        p1 Facility
                                li
                                    a.d-flex(href='/petition/articles/category/' + 'Social')
                                        p1 Social
                                li
                                    a.d-flex(href='/petition/articles/category/' + 'Safety')
                                        p1 Safety
                                li
                                    a.d-flex(href='/petition/articles/category/' + 'Other')
                                        p1 Other

            p Copyright ©2020 All rights reserved | This template is made with  by Colorlib
    script.
        showSlides(slideIndex);
        function support()
        {
            let target_s = "supported";
            let target_us = "unsupported";

            if (document.getElementById(target_s) == null)
            {
                if (document.getElementById(target_us).textContent == "supported") {
                    document.getElementById(target_us).classList.remove('btn-primary');
                    document.getElementById(target_us).classList.add('btn-danger');
                    document.getElementById(target_us).innerHTML = "cancelled";
                } else {
                    document.getElementById(target_us).classList.remove('btn-danger');
                    document.getElementById(target_us).classList.add('btn-primary');
                    document.getElementById(target_us).innerHTML = "supported";
                }
            }
            else
            {
                if (document.getElementById(target_s).textContent == "supported") {

                    document.getElementById(target_s).classList.remove('btn-primary');
                    document.getElementById(target_s).classList.add('btn-danger');

                    document.getElementById(target_s).innerHTML = "cancelled";
                } else {
                    document.getElementById(target_s).classList.remove('btn-danger');
                    document.getElementById(target_s).classList.add('btn-primary');
                    document.getElementById(target_s).innerHTML = "supported";
                }
            }
        }
    style.
        p1 {
            color: white;
            font-size: 120%;
        }