extends layout.pug


block content
    .dashboard(style='padding-top:80px;height:60%')
        .dashboard-text
            h1 #{title}
            p Welcome! #{user.username}
        .container
            .events-features
                .row
                    ul
                        li.highlighted View your petition articles
                        each article, i in articles
                            li
                                a(href="/petition/articles/" + article._id)
                                    u #{article.title}
                                .pull-right
                                    img(src='/image/article_icon/support.png' style='width:20px;height:20px;' alt='Support')
                                    i #{article.support} &nbsp
                                    a.btn.btn-danger.delete-article(href='#', data-id=article._id) Delete
                            |
            a.btn.btn-secondary(href='/users/logout') Logout


    style.
        p {
            font-size: xx-large;
            /*padding-top: 20px;*/
            font-family: Helvetica, Arial, sans-serif;
            }
        .container{
            height: 100%;
            /*margin: auto;*/
            /*overflow: auto;*/
            text-align: center;
        }
        .dashboard-text{
            text-align: center;
        }